label {
  margin-top: 10px;
  display: block;
}

textarea {
  display: block;
}

#submit {
  margin-top: 10px;
}

#outputs {
  display: relative;
  margin: auto;
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  overflow-wrap: break-word;
}
